services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: camping-on:latest
    container_name: camping-on
    env_file:
      - .env # 환경 변수 파일 경로
    ports:
      - "8080:8080"
    restart: always
    environment:
      SPRING_PROFILES_ACTIVE: prod,s3Bucket
      TZ: Asia/Seoul
    networks:
      - app-network

networks:
  app-network:
    name: docker-network