<configuration>
    <timestamp key="BY_DATE" datePattern="yyyy-MM-dd"/>
    <!-- 로깅 테마 -->
    <property name="LOG_PATTERN"
              value="[%d{yyyy-MM-dd HH:mm:ss}:%-4relative] %green([%thread]) %highlight(%-5level) %boldWhite([%C.%M:%yellow(%L)]) - %msg%n"/>

    <springProfile name="local">
        <include resource="console-appender.xml"/>
        <!-- 로컬 서버에서는 appender를 통해 콘솔에 출력-->
        <root level="DEBUG">
            <!-- ref="appender name(CONSOLE) 지정" -->
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!-- 로컬이 아닌 서버에서는(즉 배포 서버 set1, set2) appender를 통해 파일에 저장-->
    <springProfile name="!local">
        <include resource="file-info-appender.xml"/>
        <include resource="file-error-appender.xml"/>

        <root level="INFO">
            <appender-ref ref="FILE-INFO"/>
            <appender-ref ref="FILE-ERROR"/>
        </root>
    </springProfile>

</configuration>