name: Mirror to GitLab

on:
  push:
    branches:
      - main  # 미러링할 브랜치
      - dev   # 추가로 미러링할 브랜치

jobs:
  push-to-gitlab:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2

      - name: Push to GitLab
        env:
          GITLAB_TOKEN: ${{ secrets.GITLAB_TOKEN }}
        run: |
          git remote add gitlab ${{ secrets.GITLAB_URL }}
          git push --mirror gitlab